@import url(https://use.fontawesome.com/releases/v6.2.0/css/all.css);

body {
  margin: 0;
}

.choiceBtn {
  line-height: 30px;
  width: 200px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
  padding: 5px;
}

.choiceBtn:hover {
  background-color: chartreuse;
  transform: scale(1.2);
}

#gameDiv {
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: lightgrey;
  text-align: center;
  height: 40vh;
}

#playerText {
  color: red;
}

#computerText {
  color: blue;
}

i {
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
